.nul {
    display: table;
    margin: 0 auto;
  }

.sec2{
    background-color: #1C2331;
    margin-top: 1rem;
    color: white;
}

.prt1{
    margin-right: 3%;
    margin-left: 3%;
}

.sec3{
    margin-top: 1.5rem;
}


